@import "../globalStyle.scss";

.mainTitleWrapper {

	// make the h1 and h3 inside it to be bottom-aligned
	align-items: flex-end;

}

@include mobile {
	.mainTitleWrapper {
		display: block;

	}
	h1 {
		margin-bottom: 0px;
	}
	.cityWrapper {
		margin-left: 0px;
		margin-top: 10px;
	}
}

@include tablet {
	.mainTitleWrapper {
			display: block;
	}
		h1 {
			margin-bottom: 0px;
		}
	.cityWrapper {
		margin-left: 0px;
		margin-top: 10px;
	}
}

@include laptop {
	.mainTitleWrapper {
			display: flex;
	}
	.cityWrapper {
		margin-left: 15px;
	}
}

@include desktop {
	.mainTitleWrapper {
			display: flex;
	}
	.cityWrapper {
		margin-left: 15px;
	}
}



.dateTimeWrapper {
	margin-top: 12px;
	font-weight: $regular;
}



h3 {
	margin-top: 0px;
	color: black;
	margin-bottom: 5px;
	font-weight: $regular;
}

.venue {
	margin-top: 0px;
}

.titleImage {
	width: 100%;
	margin-top: 30px;
}
